#ignore vim backup files
*~

#ignore visual studio files
*.user
*.suo
*.ncb
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

#ignore winmerge files
*.bak

#???
*.aps

#ignore blender files, in case they accidentally get added
*.blend
