#ignore vim backup files
*~
*.user
*.suo
*.ncb
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.bak
*.aps
/ccan-original

# the wiki zip file is in source control
# and the extracted contents are not
/SDL2-2.0.3/SDL-wiki
