[submodule "crypto-algorithms"]
	path = crypto-algorithms
	url = https://github.com/nathan-schubkegel/crypto-algorithms
[submodule "ccan"]
	path = ccan
	url = https://github.com/nathan-schubkegel/ccan
[submodule "lua"]
	path = lua
	url = https://github.com/nathan-schubkegel/lua
[submodule "sdl"]
	path = sdl
	url = https://github.com/nathan-schubkegel/sdl
[submodule "tokamak"]
	path = tokamak
	url = https://github.com/nathan-schubkegel/tokamak
[submodule "directx"]
	path = directx
	url = https://github.com/nathan-schubkegel/directx